<p id="notice"><%= notice %></p>

  <div class="col-lg-4">
        <div class="panel panel-default" id="<%= @membership_type.name %>">
            <div class="panel-heading">
                <div class="panel-body" style="float:right;">
                  <%= link_to 'Edit', edit_membership_type_path(@membership_type) %> |
                  <%= link_to 'Back', membership_types_path %>

                </div>
                <h4><%= @membership_type.name %></h4> 
                  
            </div>
          <div class="panel-body">

            <span class=""><%= @membership_type.description %></span></p>
           
          </div>
        </div>
  </div>
